<h2>Complex example</h2>
<div  id="root" cdkDropList [cdkDropListConnectedTo]="connectedLists" (cdkDropListDropped)="drop($event)">
  <div *ngFor='let item of rootContainer.children'>
    <app-component cdkDrag [item]='item' [cdkDragData]='[item, rootContainer]'>
      <div *cdkDragPlaceholder>
        <p>Preview</p>
      </div>
      <!-- Workaround to enable dragging on items in the list (because the list is also draggable) -->
      <mat-icon cdkDragHandle containerContent>drag_indicator</mat-icon>
      <mat-icon cdkDragHandle containeeContent>drag_indicator</mat-icon>
    </app-component>
  </div>
</div>