<div style="border: 2px solid grey; margin: 5px;">
  <div class="element">
    <mat-icon cdkDragHandle>drag_indicator</mat-icon>
    <div>{{element.name}}</div>
  </div>
  <div cdkDropList [cdkDropListData]="element.children" (cdkDropListDropped)="drop($event)" [id]='element.name' [cdkDropListConnectedTo]='connectedLists' [cdkDropListEnterPredicate]="canDropPredicate()">
    <app-tree-element *ngFor="let element of element.children" cdkDrag [element]='element' [connectedLists]='connectedLists'></app-tree-element>
  </div>
</div>